@use '../abstracts/colors' as *;
@use '/src/styles/abstracts/breakpoints' as *;
@use 'sass:map';

%btn-shared {
  cursor: pointer;
  border: none;
  text-decoration: none;
  letter-spacing: 0;
}

%flat-btn {
  @extend %btn-shared;
  background-color: transparent;
  padding: 0;
}

%btn-sm {
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0;
  padding: 3px 10px;
  border-radius: 8px;
  font-weight: 600;

  @media (max-width: map.get($breakpoints, xs)) {
    font-size: 12px;
  }
}

%primary-btn {
  @extend %btn-shared;
  color: white;
  border: 2px solid $primary;
  background-color: $primary;

  &:hover {
    filter: brightness(1.12);
  }

  &:active {
    filter: brightness(0.9);
  }
}

%text-button {
  border-bottom: 1px dashed #8b8b8b;
  width: fit-content;
  cursor: pointer;

  &:hover,
  &.active {
    color: $primary;
    border-color: $primary;
  }
}
