@use '/src/styles/abstracts/colors' as *;

%text-button {
  border-bottom: 1px dashed #8b8b8b;
  width: fit-content;
  cursor: pointer;
}

%text-button:hover {
  color: $primary;
  border-color: $primary;
}
