.product-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
}

@media (min-width: 1440px) {
  .product-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  .product-list {
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 860px) {
  .product-list {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .product-list {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.product {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  align-content: center;
  align-self: center;
  justify-self: center;
  font-size: 14px;
  line-height: 20px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.details {
  text-align: justify;
  margin-top: 10px;
  color: gray;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

%bold-detail-shared {
  font-weight: bold;
  color: black;
}

.price {
  @extend %bold-detail-shared;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.delivery {
  @extend %bold-detail-shared;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.stars-line {
  width: 100px;
  height: 16px;
  background: url('/src/assets/stars.svg') center/auto 100% no-repeat;
}

.star0 {
  background-position-x: 100%;
}

.star1 {
  background-position-x: 80%;
}

.star2 {
  background-position-x: 60%;
}

.star3 {
  background-position-x: 40%;
}

.star4 {
  background-position-x: 20%;
}

.star5 {
  background-position-x: 0%;
}
