$primary: #cb11ab;
$primary-filter: invert(20%) sepia(65%) saturate(4557%) hue-rotate(297deg)
  brightness(85%) contrast(105%);

$link: #8b8b8b;
$link-filter: invert(58%) sepia(0%) saturate(1374%) hue-rotate(144deg)
  brightness(95%) contrast(87%);
