@use '/src/styles/abstracts/colors' as *;
@use '/src/styles/abstracts/breakpoints' as *;
@use 'sass:map';

.sorter,
.sorter-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorter {
  margin-bottom: 30px;

  @media (max-width: map.get($breakpoints, big)) {
    display: none;
  }
}

.sorter-mobile {
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: map.get($breakpoints, big)) {
    display: none;
  }
}

.select-filter {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 6px 0;

  &::after {
    content: '';
    display: inline-block;
    border: 4px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 5px solid #242424;
    transform: rotate(180deg);
    margin-left: 5px;
  }
}

.card-sizes {
  display: flex;
  align-items: center;
}

.icon {
  filter: $link-filter;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  cursor: pointer;

  &.active {
    filter: $primary-filter;
  }

  &.inactive {
    display: none;
  }
}
