@use '/src/styles/abstracts/colors' as *;

%hover-shared {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
}

.color-picker {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 14px;
  row-gap: 7px;
}

.color {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;

  div {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &:hover {
    div::before {
      @extend %hover-shared;
      width: 34px;
      height: 34px;
      top: calc(50% - 17px);
      left: calc(50% - 17px);
      border: 2px solid #fff;
    }
  }

  &:hover {
    div::after {
      @extend %hover-shared;
      width: 38px;
      height: 38px;
      top: calc(50% - 19px);
      left: calc(50% - 19px);
      border: 2px solid $primary;
    }
  }
}

.beige {
  background-color: beige;
}

.white {
  background-color: white;
  border: 1px solid #e8e8e8;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.pink {
  background-color: pink;
}

.gray {
  background-color: gray;
}

.darkblue {
  background-color: darkblue;
}

.purple {
  background-color: purple;
}

.black {
  background-color: black;
}
