@use '/src/styles/abstracts/colors' as *;
@use '/src/styles/UI/text' as *;

.sort-by {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.title {
  @extend %text-m;
  color: $link;
}

.sorting-list {
  @extend %text-m;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;

  li {
    border-bottom: 1px dashed #8b8b8b;
    text-decoration: none;

    &.active {
      color: #cb11ab;
      border-color: #cb11ab;
    }

    &:hover {
      color: #cb11ab;
      border-color: #cb11ab;
      cursor: pointer;
    }
  }
}
