@use '/src/styles/abstracts/colors' as *;
@use '/src/styles/components/buttons' as *;

.sort-by {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.title {
  color: $link;
}

.sorting-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;

  li {
    @extend %text-button;
  }
}
