@use '/src/styles/abstracts/colors' as *;

.sort-by {
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.title {
  color: $link;
  font-size: 13px;
}

.sorting-list {
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 15px;

  li {
    border-bottom: 1px dashed #8b8b8b;
    text-decoration: none;
  }

  li.active {
    color: #cb11ab;
    border-color: #cb11ab;
  }

  li:hover {
    color: #cb11ab;
    border-color: #cb11ab;
    cursor: pointer;
  }
}
