@use '/src/styles/abstracts/colors' as *;
@use '/src/styles/UI/text' as *;

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.items-count {
  @extend %text-m;
  color: $link;
}

.title {
  overflow-wrap: break-word;
  word-break: break-word;
  display: inline;
  padding-right: 16px;
}

@media (max-width: 400px) {
  .header {
    flex-direction: column;
    gap: 4px;
  }
}
