@import '/src/styles/abstracts/colors';

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.items-count {
  color: $link;
  font-size: 14px;
  line-height: 20px;
}

.title {
  overflow-wrap: break-word;
  word-break: break-word;
  display: inline;
  padding-right: 16px;
}

@media (max-width: 1024px) {
  .items-count {
    font-size: 12px;
    line-height: 16px;
  }

  h1 {
    font-size: 18px;
    line-height: 24px;
  }
}
